.footer-content {
    background-color: var(--dim-color);
    color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.footer-section {
    flex: 1;
    padding: 2rem;
}

.footer-title {
    text-decoration: underline;
    font-size:larger;
    margin: 1rem;
    text-align: center;
}

.bottom-links {
    list-style-type: none;
}
.bottom-link {
    padding: 1rem 0;
    margin: 1rem 0;
}

.bottom-events, .bottom-about, .bottom-contact {
    color: var(--background-color);
    text-decoration-line: underline;
}

form {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}
.labels {
    margin-top: .5rem;
}
.inputs {
    padding: .5rem;
    margin: 1rem 0rem;
}

.btn-location {
    color: white;
    background-color: var(--accent-color);
    text-decoration: none;
    padding: .5rem;
    border-radius: 9999px;
}

.bottom-contacts {
    margin: 1rem;
}

@media screen and (max-width:709.9px) { /*----------- For Mobile screens------*/
    /*------- footer section ------------*/
    .footer-content {
        background-color: var(--dim-color);
        color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}